# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn-*.log
package-lock.json
package.json

# Flutter/Dart
.dart_tool/
build/
.flutter-plugins-dependencies
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties

# Mac
.DS_Store

# IDE
.idea/
*.iml


# Flutter generated
.flutter-plugins-dependencies
