# Flutter/Dart
.dart_tool/
.build/
build/
pubspec.lock

# iOS/Android
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/
android/.gradle/
android/local.properties

# Web/Node (Flutter web build tools)
node_modules/
package-lock.json

# IDE
.idea/
.vscode/
*.iml
.DS_Store
